.header__wrapper {
  height: var(--header-height);
  border-bottom: 1px solid var(--primary-color);
}

.header__block {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing);

  .header__title {
    font-size: var(--extra-large-font);
    color: var(--black-color);
  }
}