
.digit__selector {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  color: var(--black-color);

  .digit__selector__sub, .digit__selector__add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--large-font-size);
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
  }
}