.main {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--spacing);

    h1 {
      font-size: var(--title-font-size);
    }
  }
}

.input {
  font-size: var(--medium-font-size);
  color: var(--white-color);
  height: var(--input-height);
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  padding: var(--spacing);
  outline: none;
  background-color: var(--primary-color);

  &:active {
    outline: none;
  }
}

.button {
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--grey-color);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
