:root {
  --primary-color: #501537;
  --secondary-color: #d4e79e;
  --white-color: #ffffff;
  --grey-color: #808080;
  --black-color: #000000;
  --spacing: 1rem;
  --small-spacing: 0.5rem;
  --large-spacing: 1.5rem;
  --button-height: 3rem;
  --font: 1rem;
  --medium-font-size: 1.2rem;
  --large-font-size: 1.5rem;
  --extra-large-font: 2.5rem;
  --title-font-size: 4rem;
  --header-height: 4rem;
  --item-height: 4rem;
  --input-height: 3rem;
}
