:root {
  --primary-color: #313638;
  --secondary-color: #E6E8E6;
  --white-color: #ffffff;
  --grey-color: #808080;
  --black-color: #000000;
  --spacing: 1rem;
  --small-spacing: 0.5rem;
  --large-spacing: 1.5rem;
  --button-height: 3rem;
  --font: 1rem;
  --medium-font-size: 1.2rem;
  --large-font-size: 1.5rem;
  --extra-large-font: 2.5rem;
  --title-font-size: 4rem;
  --header-height: 4rem;
  --item-height: 4rem;
  --input-height: 3rem;
  --border-radius: 0.5rem;
  --overlay-z-index: 9999;
  --min-task-height: 8rem;
}
