frontend/.next/
frontend/node_modules/
backend/node_modules/
backend/dist
.vscode
/.idea/.gitignore
/.idea/daybreak-platform.iml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/watcherTasks.xml
/.idea/webResources.xml
