
.task__modal {
  position: fixed;
  z-index: var(--overlay-z-index);
  display: flex;
  flex-direction: column;
  gap: var(--large-spacing);
  justify-content: space-between;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 500px;
  width: 500px;
  background-color: var(--white-color);

  .task__modal__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .task__modal__preference__block {
    display: flex;
    flex-direction: column;
    gap: var(--large-spacing);

    .task__modal__input {
      font-weight: 300;
      font-size: var(--large-font-size);
      color: var(--black-color);
      height: var(--input-height);
      width: 100%;
      outline: none;
      border-radius: var(--border-radius);
      border: 1px solid var(--primary-color);
      padding: var(--spacing);
      background-color: var(--white-color);
    }

    .task__model__parameter {
      width: 100%;
      display: flex;
      font-size: var(--medium-font-size);
      color: var(--black-color);
      gap: var(--spacing);
      justify-content: space-between;
      align-items: center;
    }
  }

  .task__model__button {
    align-self: flex-end;
  }
}