
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  font-size: var(--font);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    color: var(--black-color);
    background-color: var(--secondary-color);
  }
}